$color-purple: #9094FF;
$color-light-grey: #EBEBEB;
$color-grey: #777777;
$color-dark: #343434;
$max-width: 970px;

@mixin desktop {
  @media (max-width: 1280px){
    @content;
  }
}
@mixin small {
  @media (max-width: 992px){
    @content;
  }
}
@mixin tablet {
  @media (max-width: 767px){
    @content;
  }
}
@mixin mobile {
  @media (max-width: 420px){
    @content;
  }
}