@use 'mixins';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

*,*::before,*::after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

#__next {
  max-width: mixins.$max-width;
  margin: auto;
  padding: 0 20px;

  @include mixins.desktop {
    max-width: 970px;
  }

  @include mixins.small {
    max-width: 750px;
  }

  @include mixins.tablet {
    max-width: 650px;
  }

  @include mixins.mobile {
    max-width: none;
  }
}

html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.background-image {
  position: absolute;
  opacity: 0.02;
  left: -10vw;
  top: -10vh;
  height: 75vh;
  transform: rotate(20deg);
  pointer-events: none;
}

.promotional-message {
  margin-bottom: 100px;
  margin-top: 25px;
  text-align: center;

  h3 {
    font-size: 20px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    margin: 0;
  }

  h2 {
    font-size: 100px;

    @include mixins.mobile {
      font-size: 50px;
    }

    margin: 0;
    color: mixins.$color-purple;
  }
}

.product__price-button-container {
  display: flex;
  grid-area: button;
}