@use 'mixins';

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: mixins.$color-purple;
  width: 100%;
  transition: padding-bottom,padding-top .5s ease-in-out;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9999px;
    right: 0;
    border-left: 9999px solid mixins.$color-purple;
    box-shadow: 9999px 0 0 mixins.$color-purple;
  }

  .summary {
    position: relative;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a > span {
    position: relative;
    color: white;
    padding-left: 10px;
  }

  .logo {
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white
  }

  .title {
    padding: 0;
    font-size: 24px;
    margin: 0 0 0 20px;
  }

  .count{
    padding: 0px;
    position: absolute;
    left: 0;
    bottom: -20px;
    border: 1px solid;
    border-radius: 50%;
    font-size: 11px;
    height: 20px;
    width: 20px;
    background: #9094FF;
    margin-left: 1.3rem;
    margin-bottom: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.stick {
  padding-top: 10px;
  padding-bottom: 10px;
}