@use 'mixins';

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: mixins.$color-purple;//
  z-index: 2;
  width: 100%;
  top: 0;
 
  a {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a > span {
    color: white;//mixins.$color-purple;
    margin-left: 10px;
  }

  &__logo {
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white
  }

  &__title {
    padding: 0;
    font-size: 24px;
    margin: 0 0 0 20px;
  }
}