@use 'mixins';

.background_image {
  position: absolute;
  opacity: 0.02;
  left: -10vw;
  top: -10vh;
  height: 75vh;
  transform: rotate(20deg);
  pointer-events: none;
}

.promotional_message {
  margin-bottom: 100px;
  margin-top: 100px;
  text-align: center;

  h3 {
    font-size: 20px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    margin: 0;
  }

  h2 {
    font-size: 100px;

    @include mixins.small {
      font-size: 90px;
    }

    @include mixins.tablet {
      font-size: 65px;
    }

    @include mixins.mobile {
      font-size: 40px;
    }

    margin: 0;
    color: mixins.$color-purple;
  }
}